<p style="color: green"><%= notice %></p>

<%= render @orcamento %>

<div>
  <%= link_to "Edit this orcamento", edit_orcamento_path(@orcamento) %> |
  <%= link_to "Back to orcamentos", orcamentos_path %>

  <%= button_to "Destroy this orcamento", @orcamento, method: :delete %>
</div>
