<%= form_with(model: compra) do |form| %>
  
  <div>
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>v>

  <div>
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div>
    <%= form.label :produto %>
    <%= form.text_field :produto %>
  </div>

  <div>
    <%= form.label :desconto %>
    <%= form.number_field :desconto %>
  </div>

  <div>
    <%= form.label :desconto_aplicado %>
    <%= form.boolean :desconto_aplicado %>
  </div>
  <% if compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
        <% compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
